---
import Layout from "../layouts/Layout.astro";
import { ResetPasswordForm } from "../components/auth/ResetPasswordForm";

export const prerender = false;
---

<Layout title="Resetowanie hasła">
  <main class="flex min-h-[calc(100vh-4rem)] items-center justify-center px-4 py-12">
    <ResetPasswordForm client:load />
  </main>
</Layout>
